<div class="d-flex flex-column flex-shrink-0 p-4 text-white bg-secondary bg-gradient"
    style="width:fit-content;margin:auto;border-radius: 20px; height: calc(78vh);">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <dt><span class="fs-4 text-dark text-justify">Dashboard</span></dt>
    </a>
    <hr>
    <div class="nav-item nav-pills flex-column mb-auto">
        <button mat-button class="menu-button nav-link active" aria-current="page">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>school</mat-icon>
            <span>School</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>person</mat-icon>
            <span>Student</span>
        </button>
    </div>
    <hr>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
</div>
