.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

  small{
    opacity: 0;
    animation: 2s fadeIn;
    animation-fill-mode: forwards;
    transition: opacity 1.5s;
  }
  @keyframes fadeIn {
    from {
      opacity: -1;
    }
    to {
      opacity: 1;
    }
  }
