<div class="col-md-12 noselect" style="height: auto;">
    <div class="container my-20" style="margin:auto;"><br><br><br>

        <div class="card mb-3" style="width: 440px;margin: auto;">
            <div class="card-header text-center"
                style="padding-left: 0%;margin-left: 0%;padding-top: 0%;margin-top: 0%;padding-right: 0%;margin-right: 0%;margin-bottom: 0.5px;">
                <ul class="nav nav-tabs card-header-tabs"
                    style="padding-left: 0%;margin-left: 0%;padding-right: 0%;margin-right: 0%;">
                    <li class="nav-item" style="width:219px;">
                        <a class="nav-link" routerLink="/auth/login" routerLinkActive="active">Log In</a>
                    </li>
                    <li class="nav-item" style="width:219px;">
                        <a class="nav-link" routerLink="/auth/signup" routerLinkActive="active">Sign Up</a>
                    </li>
                </ul>
            </div>
            <router-outlet></router-outlet>
        </div>

    </div>
</div>
